In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [4]:
filename = "../movie_rating.csv"

In [5]:
def get_rating_matrix(filename):
    pass

In [6]:
df_movie = pd.read_csv(filename)
df_movie

           source              target  rating
0   Jack Matthews   Lady in the Water     3.0
1   Jack Matthews   Snakes on a Plane     4.0
2   Jack Matthews   You Me and Dupree     3.5
3   Jack Matthews    Superman Returns     5.0
4   Jack Matthews  The Night Listener     3.0
5    Mick LaSalle   Lady in the Water     3.0
6    Mick LaSalle   Snakes on a Plane     4.0
7    Mick LaSalle        Just My Luck     2.0
8    Mick LaSalle    Superman Returns     3.0
9    Mick LaSalle  The Night Listener     3.0
10   Claudia Puig   Snakes on a Plane     3.5
11   Claudia Puig        Just My Luck     3.0
12   Claudia Puig  The Night Listener     4.5
13      Lisa Rose   Lady in the Water     2.5
14      Lisa Rose   Snakes on a Plane     3.5
15      Lisa Rose        Just My Luck     3.0
16      Lisa Rose    Superman Returns     3.5
17      Lisa Rose  The Night Listener     3.0
18      Lisa Rose   You Me and Dupree     2.5
19           Toby   Snakes on a Plane     4.5
20           Toby    Superman Returns     4.0
21   Gene Seymour   Lady in the Water     3.0
22   Gene Seymour   Snakes on a Plane     3.5
23   Gene Seymour   You Me and Dupree     3.5
24   Gene Seymour  The Night Listener     3.0

In [14]:
movie_table = df_movie.pivot_table(
    values = ["rating"],
    index = df_movie.source,
    columns = df_movie.target,
    aggfunc="sum",
    fill_value=0
)
movie_table

                    rating                                      \
target        Just My Luck Lady in the Water Snakes on a Plane
source
Claudia Puig             3               0.0               3.5
Gene Seymour             0               3.0               3.5
Jack Matthews            0               3.0               4.0
Lisa Rose                3               2.5               3.5
Mick LaSalle             2               3.0               4.0
Toby                     0               0.0               4.5


target        Superman Returns The Night Listener You Me and Dupree
source
Claudia Puig               0.0                4.5               0.0
Gene Seymour               0.0                3.0               3.5
Jack Matthews              5.0                3.0               3.5
Lisa Rose                  3.5                3.0               2.5
Mick LaSalle               3.0                3.0               0.0
Toby                       4.0                0.0               0.0

In [11]:
movie_table.values

array([[3. , 0. , 3.5, 0. , 4.5, 0. ],
       [0. , 3. , 3.5, 0. , 3. , 3.5],
       [0. , 3. , 4. , 5. , 3. , 3.5],
       [3. , 2.5, 3.5, 3.5, 3. , 2.5],
       [2. , 3. , 4. , 3. , 3. , 0. ],
       [0. , 0. , 4.5, 4. , 0. , 0. ]])

In [15]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

def get_rating_matrix(filename):
    df_movie = pd.read_csv(filename)
    movie_table = df_movie.pivot_table(
    values = ["rating"],
    index = df_movie.source,
    columns = df_movie.target,
    aggfunc="sum",
    fill_value=0
)
    return movie_table.values

print(get_rating_matrix(filename))

[[3.  0.  3.5 0.  4.5 0. ]
 [0.  3.  3.5 0.  3.  3.5]
 [0.  3.  4.  5.  3.  3.5]
 [3.  2.5 3.5 3.5 3.  2.5]
 [2.  3.  4.  3.  3.  0. ]
 [0.  0.  4.5 4.  0.  0. ]]