### 2번 - 각 코스별, 숙제별로 숙제를 가장 빨리 제출한 학생의 아이디와 제출한 시간을 출력하시오

In [2]:
import pymysql

conn = pymysql.connect(host = 'codeborn-bi-db.cvv1o1yrngie.ap-northeast-2.rds.amazonaws.com',
                        port = 3306,
                        user = 'pikachu',
                        password = 'ufeqqE5W2ILb',
                        db = 'codeborn')

In [4]:
cur = conn.cursor()
cur.execute("select * from assignments limit 5;")
results = cur.fetchall()

In [6]:
# df_assignments에 저장 
import pandas as pd
df_assignments = pd.read_sql_query("select * from assignments;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_60107/2912317425.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_assignments = pd.read_sql_query("select * from assignments;", conn)

In [7]:
# df_submissions에 저장
df_submissions = pd.read_sql_query("select * from submissions;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_60107/2740625877.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submissions = pd.read_sql_query("select * from submissions;", conn)

In [8]:
# df_student_course_relation 에 저장
df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_60107/3257567451.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)

In [10]:
# 조교 제외
not_assistant = df_student_course_relation[df_student_course_relation['teaching_assistant'] == 0]

In [11]:
# assignment_id = 1 제외
not_test = df_assignments[df_assignments['assignment_id'] != 1]

In [13]:
# 조교와 테스트 과제를 제외한 테이블끼리 조인
asnmt = pd.merge(not_assistant, not_test, on="course_id")

In [72]:
# submisison 테이블과 앞의 asnmt 테이블 조인
sub_asnmt = pd.merge(asnmt, df_submissions, on=["assignment_id", "student_id"])

In [73]:
# 제시간에 숙제를 낸 학생만 남음
in_time = sub_asnmt[(sub_asnmt["submit_date"] > sub_asnmt["started_date"]) & (sub_asnmt["submit_date"] < sub_asnmt["ended_date"])]
in_time

,student_course_id,course_id,student_id,teaching_assistant,assignment_id,problem_id,assignment_title,created_date,started_date,ended_date,submission_id,submit_date,submit_code,total_score
5,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,109,2021-09-20 13:06:12,#######################\n# Basic Math ...,75.0
6,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,110,2021-09-20 13:26:21,#######################\n# Basic Math ...,75.0
7,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,197,2021-09-22 16:57:29,#######################\n# Basic Math ...,0.0
8,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,290,2021-09-23 11:37:50,#######################\n# Basic Math ...,0.0
12,11,DSAA-2021,11,0,3,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00,12,2021-09-18 11:16:59,"# -*- coding: utf8 -*-\n\ndef addition(a, b):\...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20224,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21251,2022-10-25 23:53:33,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20225,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21253,2022-10-25 23:53:50,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20226,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21254,2022-10-25 23:54:09,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20229,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21362,2022-12-10 23:39:13,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN
20230,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21363,2022-12-10 23:42:26,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN

In [75]:
# 각 코스별, 숙제별로 가장 빨리 제출한 시간
min_submit_time = in_time.groupby(["course_id", "assignment_id"]).submit_date.min()
min_submit_time

course_id  assignment_id
DSAA-2021  2               2021-09-20 00:53:24
           3               2021-09-18 11:16:59
           6               2021-09-23 09:59:26
           8               2021-09-23 15:30:43
           10              2021-09-26 17:55:54
           11              2021-09-26 23:59:44
           13              2021-09-28 09:35:14
           14              2021-10-07 09:54:31
           16              2021-10-30 18:56:48
           18              2021-11-15 08:57:35
DSAA-2022  35              2022-09-16 10:40:06
           36              2022-09-16 10:14:55
           37              2022-09-16 13:04:01
           38              2022-09-20 16:57:08
           39              2022-10-05 15:19:33
           40              2022-10-14 21:33:06
           41              2022-12-06 19:31:49
PY-2022S   21              2022-04-08 20:01:05
           23              2022-04-06 11:11:21
           24              2022-04-06 09:55:13
           25              2022-04-06 09:54:52
           26              2022-04-13 00:45:50
           27              2022-04-08 19:56:55
           28              2022-04-08 20:01:15
           29              2022-04-08 20:44:27
           30              2022-04-27 11:31:46
           33              2022-05-04 11:03:22
           34              2022-05-29 17:27:49
Name: submit_date, dtype: datetime64[ns]

In [76]:
min_submit_time.unstack()

assignment_id,2,3,6,8,10,11,13,14,16,18,...,30,33,34,35,36,37,38,39,40,41
course_id,,,,,,,,,,,,,,,,,,,,,
DSAA-2021,2021-09-20 00:53:24,2021-09-18 11:16:59,2021-09-23 09:59:26,2021-09-23 15:30:43,2021-09-26 17:55:54,2021-09-26 23:59:44,2021-09-28 09:35:14,2021-10-07 09:54:31,2021-10-30 18:56:48,2021-11-15 08:57:35,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
DSAA-2022,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,2022-09-16 10:40:06,2022-09-16 10:14:55,2022-09-16 13:04:01,2022-09-20 16:57:08,2022-10-05 15:19:33,2022-10-14 21:33:06,2022-12-06 19:31:49
PY-2022S,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,2022-04-27 11:31:46,2022-05-04 11:03:22,2022-05-29 17:27:49,NaT,NaT,NaT,NaT,NaT,NaT,NaT

### 질문: 위의 테이블(min_submit_time)에 min_time이라는 Column 이름을 붙혀서 Inner join 해서 출력하고 싶음

In [71]:
pd.merge()

11       2021-09-20 13:06:12
12       2021-09-20 13:26:21
13       2021-09-22 16:56:38
14       2021-09-22 16:57:29
15       2021-09-23 09:59:26
                 ...
220648   2022-10-25 23:53:33
220649   2022-10-25 23:53:50
220650   2022-10-25 23:54:09
220682   2022-12-10 23:39:13
220683   2022-12-10 23:42:26
Name: submit_date, Length: 60030, dtype: datetime64[ns]